---

import { Head } from "@/components/Head";
import AppRouter from "@/components/Router";
import "@/styles/global.css";


---

<html lang="en" class="w-full h-full">
  <head>
    <Head />
    <title>Way Digi Tech</title>
  <meta name="description" content="Description de ton site" />
  </head>
  <body class="w-full h-full">
    <div id="root" class="w-full h-full">
      <AppRouter client:only="react" />
    </div>
  </body>
</html>
